/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav a:hover{
  background: rgb(30, 95, 216);
}
.nav {
 position:fixed;
 margin-left: 0;
 padding-left: 0;
 top: 0;
 color: rgb(255, 255, 255);
 background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0));
 background-color: rgba(160, 159, 159, 0.13);
 nav-left: auto;
 height: 100%;
 width: 150px;
 overflow: hidden;
}
.nav ul{
  /* display: none; */
  /* line-height:100px;
  position:static
}
.nav ul li{
  line-height: 100px; */ */
 form.Form{
   padding-top: 100px;
  background-color: rgba(160, 159, 159, 0.13);
  text-align: center;
  margin: auto;
  display: flex;
  width: 500px;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  } 

  h2{
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
  display: flex;
  width: 500px;
  display: flex;
  flex-direction: column;
  } 

  p{
  padding-top: 100px;
  padding-top: 10px;
  text-align: center;
  margin: auto;
  display: flex;
  width: 500px;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  }
  
  /* .Submit{
    margin-top: 50px;
    text-align: center;
    margin: auto;
    display: flex;
     width: 90px;
     font-size: 20px;
     font-weight: normal;
     display: flex;
  flex-direction: column;
  } */
  .Submit{
    background-color: light grey;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;

  }
  input[type=text]:focus {
    background-color: lightblue;
  }
  .Submit:hover {
    
    background:lightblue;
    /* color:rgb(219, 185, 185); */
    border:1pxsolid#eee;
    box-shadow:5px5px5px#eee;
    text-shadow:none;
}
  /* p{
    padding-top: 100px;
    text-align: center;
    margin: auto;
    display: flex;
    width: 500px;
    font-weight: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  } */