body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav a:hover{
  background: rgb(30, 95, 216);
}
.nav {
 position:fixed;
 margin-left: 0;
 padding-left: 0;
 top: 0;
 color: rgb(255, 255, 255);
 background-color: rgb(58, 57, 57);
 nav-left: auto;
 height: 100%;
 width: 150px;
 overflow: hidden;
}
.nav ul{
  /* display: none; */
  line-height:100px;
  position:static
}
.nav ul li{
  line-height: 100px;
}
.nav ul li a{
  padding-left: 20px;
  line-height: 70px;
  font-size: 12px;
}
.link {
  text-decoration: none;
  list-style: none;
  color: white;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 120px;
  margin-right: 300px;
}
